<!-- vim: set filetype=htmldjango : -->
{% import 'components/calendarday.html' as calendarday %}
<div class="flex-none">
    <div class="flex items-center text-center">
        <div class="flex-auto text-lg font-semibold">{{ month }} {{ year }}</div>
    </div>
    <div class="mt-6 grid grid-cols-7 text-center text-xs leading-6">
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
        <div>S</div>
    </div>
    <div class="isolate mt-2 grid grid-cols-7 gap-px text-sm shadow ring-1 ring-neutral">
        {% for week in weeks %}
            {% for entry in week %}
                {% set isCurrentDay = false %}
                {% if entry.day == activeDate.day %}
                    {% set isCurrentDay = True %}
                {% endif %}
                {% set isCurrentMonth = False %}
                {% if entry.month == month %}
                    {% set isCurrentMonth = true %}
                {% endif %}
                {{ calendarday.calendarday(entry, today, currentDay=isCurrentDay, currentMonth=isCurrentMonth) }}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="mt-4 flex flex-col gap-2 items-center">
        <p class="text-neutral-content">Today</p>
        <p class="text-info">Selected</p>
    </div>
    <div class="mt-4 flex flex-col gap-2 items-center">
        <p class="text-sm text-center">
            Select on which day you would like to make a reservation. Only possible for the current month. At the end of the month HR will subtract reservation cost from your salary and you can make reservations for the next month
        </p>
    </div>
</div>
