{% extends "base.html" %}
{% import 'components/spot.html' as spotrender %}
{% block content %}
    <div class="flex-grow py-10 px-20 flex flex-col">
        <div class="flex w-full flex-grow">
            <div class="grid flex-grow min-h-full card bg-base-300 rounded-box place-items-center px-8 py-10">
                <div class="grid grid-cols-3 gap-6 w-full h-full">
                    {% for spot in spots %}
                        {{ spotrender.spot(spot.id, spot.is_reserved(activeDate) , spot.info, activeDate, form) }}
                    {% endfor %}
                </div>
            </div>
            <div class="divider divider-horizontal"></div>
            <div class="card max-w-sm bg-base-300 rounded-box flex flex-col justify-center items-center px-8 py-10">
                <h3 class="text-2xl">Calendar</h3>
                <div>{% include 'components/calendar.html' %}</div>
            </div>
        </div>
    </div>
{% endblock %}
