{% extends "base.html" %}
{% block content %}
    <div class="hero flex-grow bg-base-200">
        <div class="hero-content flex-col gap-12 lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Login now!</h1>
                <p class="py-6">
                    Please login to use the applicaton. As a logged in user you can make parking spot reservations. If you dont have an account yet, register below
                </p>
                <a class="btn btn-secondary mt-r text-sm"
                   href="{{ url_for("auth.register") }}">Register</a>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="card-body">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-control">
                            {{ form.username.label }}
                            {{ form.username(size=32) }}
                            {% for error in form.username.errors %}
                                <label class="label">
                                    <span class="text-red-400 label-text-alt">{{ error }}</span>
                                </label>
                            {% endfor %}
                        </div>
                        <div class="form-control mt-3">
                            {{ form.password.label }}
                            {{ form.password(size=32) }}
                            {% for error in form.password.errors %}
                                <label class="label">
                                    <span class="text-red-400 label-text-alt">{{ error }}</span>
                                </label>
                            {% endfor %}
                        </div>
                        <div class="form-control mt-6">{{ form.submit() }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
