<!doctype html>
<html>
  <head class="min-h-screen">
    {% if title %}
    <title>Parking Reservation - {{ title }}</title>
    {% else %}
    <title>Parking Reservation</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/tailwind.css')}}"
    />
  </head>
  <body class="flex flex-col min-h-screen">
    {% include 'components/flash.html' %} {% include 'components/header.html' %}
    <div class="flex-grow flex flex-col">{% block content %}{% endblock %}</div>
  </body>
</html>
